<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{page_title}}</title>
  </head>
  <body>
    <div class="container">
    <h1>{{page_title}}</h1>
        <div class="row">
            <div class="col-8">
              <h2>Список состояний страница {{number_of_page}}</h2>
              {% if number_of_page == 1 %}
              <a class="btn btn-primary" href="/my-route?page=2" role="button">Следующая страница</a>
              {% elif number_of_page == len_list_of_entries %}
              <a class="btn btn-primary" href="/my-route?page={{number_of_page-1}}" role="button">Предыдущая страница</a>
              {% else %}
              <a class="btn btn-primary" href="/my-route?page={{number_of_page-1}}" role="button">Предыдущая страница</a>
              <a class="btn btn-primary" href="/my-route?page={{number_of_page+1}}" role="button">Следующая страница</a>
              {% endif %}
              <table border="1">
              {% for num in list_of_entries %}
              <tr>
                <td><p>{{list_states[num].callsign}}</p></td>                  
                <td><p>{{list_states[num].origin_country}}</p></td>
                <td><p>{{list_states[num].longitude}}</p></td>
                <td><p>{{list_states[num].latitude}}</p></td>
              </tr>
              {% endfor %}
              </table>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>